	<!-- Hero Section Start -->

<section id="menupage-1-section">
	
	<div class="breadcrumb-section">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="index.html">
						<span class="home-icon">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<mask id="mask0_564_5237" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
									<rect width="24" height="24" fill="white" />
								</mask>
								<g mask="url(#mask0_564_5237)">
									<path d="M9.15722 20.7714V17.7047C9.1572 16.9246 9.79312 16.2908 10.581 16.2856H13.4671C14.2587 16.2856 14.9005 16.9209 14.9005 17.7047V17.7047V20.7809C14.9003 21.4432 15.4343 21.9845 16.103 22H18.0271C19.9451 22 21.5 20.4607 21.5 18.5618V18.5618V9.83784C21.4898 9.09083 21.1355 8.38935 20.538 7.93303L13.9577 2.6853C12.8049 1.77157 11.1662 1.77157 10.0134 2.6853L3.46203 7.94256C2.86226 8.39702 2.50739 9.09967 2.5 9.84736V18.5618C2.5 20.4607 4.05488 22 5.97291 22H7.89696C8.58235 22 9.13797 21.4499 9.13797 20.7714V20.7714" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
								</g>
							</svg>
						</span>Home
					</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Cart View</li>
			</ol>
		</div>
	</div>
	<div class="menupage1-boder"></div>
</section>
<!-- Hero Section End -->
<!-- Cart Section End -->
<section id="cart-section-deatils">
	<div class="container line ptb-100">
		<span class="line-3"></span>
		<span class="line-4"></span>
		<span class="line-5"> </span>
		<div class="cart-section-deatils-full">
			<h2 class="d-none">Cart Page</h2>
			<h3 class="d-none">Cart</h3>
			<table class="cart-view-table">
				<tr class="cart-view-table-name">
					<th style="width:15%">Image</th>
					<th style="width:35%">Details</th>
					<th style="width:10%">Price</th>
					<th style="width:20%">Quantity</th>
					<th style="width:10%">Total</th>
					<th style="width:10%">Clear All</th>
				</tr>
				<tr class="cart-view-table-details">
					<td><img src="~/assets/images/cart1.png" alt="menu-img"></td>
					<td>
						<a href="single-shop.html" class="prod-name-cart-view">Antipasto Salad</a>
					</td>
					<td class="prod-name-cart-view">$20</td>
					<td>
						<form class="cart-view">
							<span id="minus1" class="sub minus-class">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<mask style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
										<path d="M0 0H24V24H0V0Z" fill="white"></path>
									</mask>
									<g mask="url(#mask0_502_14353)">
										<path d="M5 11H19V13H5V11Z" fill="#99A9AD"></path>
									</g>
								</svg>
							</span>
							<input id="qty1" type="number" value="1" class="qty input-class">
							<span id="add1" class="add add-class">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<mask style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
										<path d="M0 0H24V24H0V0Z" fill="white"></path>
									</mask>
									<g mask="url(#mask0_502_14350)">
										<path d="M11 11V5H13V11H19V13H13V19H11V13H5V11H11Z" fill="#99A9AD"></path>
									</g>
								</svg>
							</span>
						</form>
					</td>

					<td class="prod-name-cart-view">$20</td>
					<td>
						<a href="javascript:void(0)">
							<i class="fa-regular fa-xmark close-btn"></i>
						</a>
					</td>
				</tr>
				<tr class="cart-view-table-details">
					<td><img src="~/assets/images/cart2.png" alt="menu-img"></td>
					<td>
						<a href="single-shop.html" class="prod-name-cart-view">Chicken Biryani</a>
					</td>
					<td class="prod-name-cart-view">$35</td>
					<td>
						<form class="cart-view">
							<span id="minus2" class="sub minus-class">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<mask style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
										<path d="M0 0H24V24H0V0Z" fill="white"></path>
									</mask>
									<g mask="url(#mask0_502_14353)">
										<path d="M5 11H19V13H5V11Z" fill="#99A9AD"></path>
									</g>
								</svg>
							</span>
							<input id="qty2" type="number" value="1" class="qty input-class">
							<span id="add2" class="add add-class">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<mask style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
										<path d="M0 0H24V24H0V0Z" fill="white"></path>
									</mask>
									<g mask="url(#mask0_502_14350)">
										<path d="M11 11V5H13V11H19V13H13V19H11V13H5V11H11Z" fill="#99A9AD"></path>
									</g>
								</svg>
							</span>
						</form>
					</td>
					<td class="prod-name-cart-view">$35</td>
					<td>
						<a href="javascript:void(0)">
							<i class="fa-regular fa-xmark close-btn"></i>
						</a>
					</td>
				</tr>
				<tr class="cart-view-table-details">
					<td><img src="~/assets/images/cart3.png" alt="menu-img"></td>
					<td>
						<a href="single-shop.html" class="prod-name-cart-view">Otange Juice</a>
					</td>
					<td class="prod-name-cart-view">$10</td>
					<td>
						<form class="cart-view">
							<span id="minus3" class="sub minus-class">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<mask style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
										<path d="M0 0H24V24H0V0Z" fill="white"></path>
									</mask>
									<g mask="url(#mask0_502_14353)">
										<path d="M5 11H19V13H5V11Z" fill="#99A9AD"></path>
									</g>
								</svg>
							</span>
							<input id="qty3" type="number" value="1" class="qty input-class">
							<span id="add3" class="add add-class">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<mask style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
										<path d="M0 0H24V24H0V0Z" fill="white"></path>
									</mask>
									<g mask="url(#mask0_502_14350)">
										<path d="M11 11V5H13V11H19V13H13V19H11V13H5V11H11Z" fill="#99A9AD"></path>
									</g>
								</svg>

							</span>
						</form>
					</td>
					<td class="prod-name-cart-view">$10</td>
					<td>
						<a href="javascript:void(0)">
							<i class="fa-regular fa-xmark close-btn"></i>
						</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
</section>
<!-- Cart Section End -->
<!-- Checkout Section Start -->
<section id="checkout-sec">
	<div class="container">
		<div class="checkout-sec-full">
			<div class="checkout-sec-left">
				<img src="~/assets/images/checkout.png" alt="food-img" class="img-fluid">
			</div>
			<div class="checkout-sec-right">
				<div class="cart-sec-coupon">
					<h4 class="chek-txt1">Total Cart (02)</h4>
					<p class="chek-txt2">subtotal: <span>$124.00</span></p>
					<p class="chek-txt3">delivery: <span>$00.00</span></p>
					<p class="chek-txt4">discount: <span>$10.00</span></p>
					<p class="total-txt"><span>total:</span> <span>$134.00</span></p>
					<form class="checkout-form">
						<input type="text" placeholder="Coupon Code">
						<button type="submit">apply</button>
					</form>
					<div class="checkout-btn">
						<a asp-controller="Checkout" >checkout</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Checkout Section End -->
