@model CreateReservationVM

<h2>Yeni Rezervasiya</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NumberOfPeople"></label>
        <input asp-for="NumberOfPeople" class="form-control" />
        <span asp-validation-for="NumberOfPeople" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Date"></label>
        <input asp-for="Date" type="date" class="form-control" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Time"></label>
        <input asp-for="Time" type="time" class="form-control" />
        <span asp-validation-for="Time" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Təsdiqlə</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
