<!-- Hero Section Start -->

<section id="menupage-1-section">
	
	<div class="breadcrumb-section">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="index.html">
						<span class="home-icon">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<mask id="mask0_564_5237" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
									<rect width="24" height="24" fill="white" />
								</mask>
								<g mask="url(#mask0_564_5237)">
									<path d="M9.15722 20.7714V17.7047C9.1572 16.9246 9.79312 16.2908 10.581 16.2856H13.4671C14.2587 16.2856 14.9005 16.9209 14.9005 17.7047V17.7047V20.7809C14.9003 21.4432 15.4343 21.9845 16.103 22H18.0271C19.9451 22 21.5 20.4607 21.5 18.5618V18.5618V9.83784C21.4898 9.09083 21.1355 8.38935 20.538 7.93303L13.9577 2.6853C12.8049 1.77157 11.1662 1.77157 10.0134 2.6853L3.46203 7.94256C2.86226 8.39702 2.50739 9.09967 2.5 9.84736V18.5618C2.5 20.4607 4.05488 22 5.97291 22H7.89696C8.58235 22 9.13797 21.4499 9.13797 20.7714V20.7714" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
								</g>
							</svg>
						</span>Home
					</a>
				</li>
				<li class="breadcrumb-item " aria-current="page"><a href="cart-view.html">Cart</a></li>
				<li class="breadcrumb-item active" aria-current="page">Checkout</li>
			</ol>
		</div>
	</div>
	<div class="menupage1-boder"></div>
</section>
<!-- Hero Section End -->
<!--Checkout  Section Start -->
<section id="Checkout-section">
	<div class="container line Checkout-section mt-100">
		<span class="line-3"></span>
		<span class="line-4"></span>
		<span class="line-5"> </span>
		<div class="Checkout-section-full">
			<div class="Checkoutpage-left">
				<form class="checkout-form1">
					<h2 class="d-none">Checkout</h2>
					<div class="bill-txt">
						<h3>Billing details</h3>
					</div>
					<div class="checkout-descrip">
						<div class="checkout-deatils">
							<div class="input-group custom-field">
								<input type="text" class="custom-form-control" placeholder="First Name">
							</div>
						</div>
						<div class="checkout-deatils">
							<div class="input-group custom-field">
								<input type="text" class="custom-form-control" placeholder="Last Name">
							</div>
						</div>
						<div class="checkout-deatils">
							<div class="input-group custom-field">
								<input type="text" class="custom-form-control" placeholder="Company Name">
							</div>
						</div>
						<div class="checkout-deatils">
							<div class="input-group custom-field">
								<input type="text" class="custom-form-control" placeholder="Country">
							</div>
						</div>
						<div class="checkout-deatils">
							<div class="input-group custom-field">
								<input type="text" class="custom-form-control" placeholder="City">
							</div>
						</div>
						<div class="checkout-deatils">
							<div class="input-group custom-field">
								<input type="number" class="custom-form-control" placeholder="State">
							</div>
						</div>
						<div class="checkout-deatils">
							<div class="input-group custom-field">
								<input type="text" class="custom-form-control" placeholder="Street">
							</div>
						</div>
						<div class="checkout-deatils">
							<div class="input-group custom-field">
								<input type="number" class="custom-form-control" placeholder="Postcode">
							</div>
						</div>
						<div class="checkout-deatils">
							<div class="input-group custom-field">
								<input type="number" class="custom-form-control" placeholder="Phone">
							</div>
						</div>
						<div class="checkout-deatils">
							<div class="input-group custom-field">
								<input type="email" class="custom-form-control" placeholder="Email">
							</div>
						</div>
					</div>
					<div class="checkout-deatils">
						<div class="input-group custom-field">
							<textarea class="custom-form-control" rows="4" cols="100" placeholder="Other notes"></textarea>
						</div>
					</div>
					<div class="payment-method-type">
						<div class="bill-txt">
							<h3>Payment Method</h3>
						</div>
						<div class="payment-type">
							<div class="input-group custom-radio">
								<input type="radio" id="option-1" name="selector" checked="">
								<label for="option-1">Cash on delivery</label>
								<span class="lu-check"></span>
							</div>
							<div class="input-group custom-radio">
								<input type="radio" id="option-2" name="selector">
								<label for="option-2">Direct bank transfer</label>
								<span class="lu-check"></span>
							</div>
							<div class="input-group custom-radio">
								<input type="radio" id="option-3" name="selector">
								<label for="option-3">Check payments</label>
								<span class="lu-check"></span>
							</div>
							<div class="input-group custom-radio">
								<input type="radio" id="option-4" name="selector">
								<label for="option-4">Paypal</label>
								<span class="lu-check"></span>
							</div>
							<div class="place-order-btn">
								<a href="javascript:void(0)">Place Order</a>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="Checkoutpage-right">
				<div class="checkout-sec-full checkout-sec-full1 ">
					<div class="checkout-sec-left checkout-sec-left1">
						<img src="~/assets/images/checkout.png" alt="food-img" class="img-fluid">
					</div>
					<div class="checkout-sec-right checkout-sec-right1">
						<div class="cart-sec-coupon">
							<h4 class="chek-txt1">Total Cart (02)</h4>
							<p class="chek-txt2">subtotal: <span>$124.00</span></p>
							<p class="chek-txt3">delivery: <span>$00.00</span></p>
							<p class="chek-txt4">discount: <span>$10.00</span></p>
							<p class="total-txt"><span>total:</span> <span>$134.00</span></p>
							<div class="checkout-btn">
								<a asp-controller="CardView">Back To Cart</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Checkout Section End -->
