@using Resturants.ViewModels.MealVM
@model UpdateMenuVM
<form asp-action="Update"  method="post" enctype="multipart/form-data" class="forms-sample">
    <div class="form-group">
        <img style="width:200px; height:150px;" src="~/assets/images/@Model.ExistingImage" />
        <input type="hidden" asp-for="ExistingImage" />
    </div>

    <div class="form-group">
        <label asp-for="Photo">Main Image</label>
        <input asp-for="Photo" accept="image/*" class="form-control" />
        <span class="text-danger" asp-validation-for="Photo"></span>
    </div>

    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" placeholder="Name" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>

    <!-- Digər inputlar -->

    <button type="submit" class="btn btn-primary me-2">Submit</button>
    <button type="button" class="btn btn-light" onclick="history.back()">Cancel</button>
</form>

