		<!-- Hero  Section Start -->
		
<section id="historypage-section1">
	
	<div class="breadcrumb-section">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="index.html">
						<span class="home-icon">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<mask id="mask0_564_5237" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
									<rect width="24" height="24" fill="white" />
								</mask>
								<g mask="url(#mask0_564_5237)">
									<path d="M9.15722 20.7714V17.7047C9.1572 16.9246 9.79312 16.2908 10.581 16.2856H13.4671C14.2587 16.2856 14.9005 16.9209 14.9005 17.7047V17.7047V20.7809C14.9003 21.4432 15.4343 21.9845 16.103 22H18.0271C19.9451 22 21.5 20.4607 21.5 18.5618V18.5618V9.83784C21.4898 9.09083 21.1355 8.38935 20.538 7.93303L13.9577 2.6853C12.8049 1.77157 11.1662 1.77157 10.0134 2.6853L3.46203 7.94256C2.86226 8.39702 2.50739 9.09967 2.5 9.84736V18.5618C2.5 20.4607 4.05488 22 5.97291 22H7.89696C8.58235 22 9.13797 21.4499 9.13797 20.7714V20.7714" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
								</g>
							</svg>
						</span>Home
					</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Our History</li>
			</ol>
		</div>
	</div>
	<div class="menupage1-boder"></div>
</section>
<!-- Hero  Section End -->
<!-- History Section Start -->
<section id="historypage-section">
	<div class="container ptb-100 line">
		<span class="line-3"></span>
		<span class="line-4"></span>
		<span class="line-5"> </span>
		<div class="historypage-full-sec">
			<div class="historypage-details">
				<div class="historypage-wrapper">
					<div class="historypage-left wow fadeInLeft" data-wow-duration="1s" data-wow-delay="3.5s">
						<img src="~/assets/images/history-1.png" alt="history-img" class="img-fluid w-100">
					</div>
					<div class="historypage-right pl-70 wow fadeInRight" data-wow-duration="1s" data-wow-delay="3.5s">
						<div class="historypage-right-conten">
							<p class="history-txt2"><span class="pr-10"><img src="~/assets/images/Homepage1/yellow-star.png" alt="yellow-star"></span>HISTORY<span class="pf-10"><img src="~/assets/images/Homepage1/yellow-star.png" alt="yellow-star"></span></p>
							<h2 class="history-txt3">We Don’t Cook We Are Making Art</h2>
							<p class="history-txt4">Sed bibendum enim adipiscing donec. Vitae consequat nulla ultrices sollicitudin posuere vestibulum pretium. Viverra nascetur ac malesuada pellentesque in rhoncus laoreet magna massa. Sit quis aliquet auctor pharetra. </p>
						</div>
					</div>
				</div>
				<div class="historypage-wrapper historypage-wrapper table-d-none1 mt-100">
					<div class="historypage-right pr-70  wow fadeInLeft" data-wow-duration="1s">
						<div class="historypage-right-conten">
							<p class="history-txt2"><span class="pr-10"><img src="~/assets/images/Homepage1/yellow-star.png" alt="yellow-star"></span>FIRST STEPS<span class="pf-10"><img src="~/assets/images/Homepage1/yellow-star.png" alt="yellow-star"></span></p>
							<h2 class="history-txt3">What Is The First Meal We Made</h2>
							<p class="history-txt4">Condimentum posuere pulvinar pellentesque pellentesque nisl turpis eu imperdiet. Sodales tincidunt orci sagittis magna nibh. Tempus, nisl aliquam pharetra fermentum ipsum ullamcorper. Volutpat sollicitudin erat. </p>
						</div>
					</div>
					<div class="historypage-left  wow fadeInRight" data-wow-duration="1s">
						<img src="~/assets/images/history-2.png" alt="history-img" class="img-fluid w-100">
					</div>
				</div>
				<div class="historypage-wrapper historypage-wrapper mt-100 table-d-none">
					<div class="historypage-left wow fadeInRight" data-wow-duration="1s">
						<img src="~/assets/images/history-2.png" alt="history-img" class="img-fluid w-100">
					</div>
					<div class="historypage-right pr-70 wow fadeInRight" data-wow-duration="1s">
						<div class="historypage-right-conten">
							<p class="history-txt2"><span class="pr-10"><img src="~/assets/images/Homepage1/yellow-star.png" alt="yellow-star"></span>FIRST STEPS<span class="pf-10"><img src="~/assets/images/Homepage1/yellow-star.png" alt="yellow-star"></span></p>
							<h2 class="history-txt3">What Is The First Meal We Made</h2>
							<p class="history-txt4">Condimentum posuere pulvinar pellentesque pellentesque nisl turpis eu imperdiet. Sodales tincidunt orci sagittis magna nibh. Tempus, nisl aliquam pharetra fermentum ipsum ullamcorper. Volutpat sollicitudin erat. </p>
						</div>
					</div>
				</div>
				<div class="historypage-wrapper mt-100">
					<div class="historypage-left wow fadeInLeft" data-wow-duration="1s">
						<img src="~/assets/images/history-3.png" alt="history-img" class="img-fluid w-100">
					</div>
					<div class="historypage-right pl-70 wow fadeInRight" data-wow-duration="1s">
						<div class="historypage-right-conten">
							<p class="history-txt2"><span class="pr-10"><img src="~/assets/images/Homepage1/yellow-star.png" alt="yellow-star"></span>SECRETS<span class="pf-10"><img src="~/assets/images/Homepage1/yellow-star.png" alt="yellow-star"></span></p>
							<h2 class="history-txt3">The Secret Of Our Always Fresh</h2>
							<p class="history-txt4">Consectetur ut suspendisse ac ornare fringilla nullam at. Adipiscing quam sed nisi, dapibus tortor. Praesent iaculis sem quis curabitur neque sed justo, purus nulla. Tellus facilisis ipsum hendrerit venenatis risus aliquam.  </p>
						</div>
					</div>
				</div>
				<div class="historypage-wrapper historypage-wrapper table-d-none1 mt-100">
					<div class="historypage-right pr-70 wow fadeInLeft" data-wow-duration="1s">
						<div class="historypage-right-conten">
							<p class="history-txt2"><span class="pr-10"><img src="~/assets/images/Homepage1/yellow-star.png" alt="yellow-star"></span>DECOR<span class="pf-10"><img src="~/assets/images/Homepage1/yellow-star.png" alt="yellow-star"></span></p>
							<h2 class="history-txt3">Decor Design Through History</h2>
							<p class="history-txt4">Turpis in posuere eget arcu felis pretium. At orci nec in morbi lorem. Egestas tempus, tortor posuere ac mauris nisi, integer. Imperdiet eu tellus diam eget metus. Mauris pulvinar volutpat dolor elit interdum dictumst. Nunc. </p>
						</div>
					</div>
					<div class="historypage-left wow fadeInRight" data-wow-duration="1s">
						<img src="~/assets/images/history-4.png" alt="history-img" class="img-fluid w-100">
					</div>
				</div>
				<div class="historypage-wrapper historypage-wrapper mt-100 table-d-none">
					<div class="historypage-left wow fadeInLeft" data-wow-duration="1s">
						<img src="~/assets/images/history-4.png" alt="history-img" class="img-fluid w-100">
					</div>
					<div class="historypage-right pr-70 wow fadeInRight" data-wow-duration="1s">
						<div class="historypage-right-conten">
							<p class="history-txt2"><span class="pr-10"><img src="~/assets/images/Homepage1/yellow-star.png" alt="yellow-star"></span>DECOR<span class="pf-10"><img src="~/assets/images/Homepage1/yellow-star.png" alt="yellow-star"></span></p>
							<h2 class="history-txt3">Decor Design Through History</h2>
							<p class="history-txt4">Turpis in posuere eget arcu felis pretium. At orci nec in morbi lorem. Egestas tempus, tortor posuere ac mauris nisi, integer. Imperdiet eu tellus diam eget metus. Mauris pulvinar volutpat dolor elit interdum dictumst. Nunc.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- History Section End -->

